@import url("https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,700;1,700&family=Poppins:wght@300;400;500;600&display=swap");
body {
    font-family: Poppins;
}

:root {
    --text: #1f1f1f;
}

* {
    box-sizing: border-box;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.header {
    padding: 20px 0;
}

.hero {
    padding: 125px 0 195px;
}

.header-item {
    font-weight: 500;
    font-size: 15px;
    color: var(--text);
    
}

.hero-title {
    font-family: Cormorant;
font-weight: 700;
font-size: 50px;
color: #1f1f1f;
}

.hero-subtitle {
font-weight: 300;
font-size: 26px;
color: #1f1f1f;
}

.hero-btn {
font-weight: 500;
font-size: 18px;
color: #fff;
background-color: #FF8126;
}

.header-btn {
    width: 60px;
height: 60px;
border-radius: 100%;
border-width: 1px;
border-color: #bfbfbf;
border-style: solid;
}

.header-link {
text-decoration: none;
color: var(--text);
font-weight: 500;
}